<h1>Demonstration of structural directive</h1>
<h2 *ngIf="nonveg">You Select nonveg menu</h2>
<div *ngIf="nonveg ; then ifblock ; else elseblock"></div>
<h1>Demonstration of ngIf</h1>
<ng-template #ifblock>
  <h2>Please consider below nonveg menu options</h2>
  <h3>Chiken tikaa</h3>
  <h3>butter chicken</h3>
  <h3> chiken biryani</h3>
</ng-template>

<ng-template #elseblock>
  <h2>Please consider below veg menu options</h2>
  <h3>Dal Makhani</h3>
  <h3>Dal Tadaka</h3>
  <h3>veg biryani</h3>
</ng-template>
<h1>Demonstration of ngFor</h1>
<div *ngFor="let value of Technology">
<h2>{{value}}</h2>
</div>

<h1>Demonstration of ngSwitch</h1>
<div [ngSwitch]="Batch">
<div *ngSwitchCase="'PPA'">
<h2>You Select PPA batch</h2>
</div>

<div *ngSwitchCase="'LB'">
  <h2>You Select LB batch</h2>
 
</div>

<div *ngSwitchCase="'Python'">
  <h2>You Select Python batch</h2>
  </div>
<div *ngSwitchDefault>
<h2>you selected wron option</h2>

</div>
<router-outlet></router-outlet>
